{% for speaker in speakers %}
    {% if speaker.photo %}
        <a class="speaker" href="{{ url('speaker_show', { 'name': speaker.name , 'id' : speaker.id }) }}"><img src="{{ asset(['images/photos/', speaker.photo]|join) }}" alt="Author Image"/></a>
    {% endif %}
{% endfor %}