<table class="speakerList">
    <tr>
    {% for speaker in speakers %}
        <td>
			<a class="speaker" href="{{ url('speaker_search', { 'search' : speaker.id }) }}">{{ speaker.name }} ({{ speaker.mediaCount }})</a>
		</td>
        {% if loop.index is even %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>


