{% for speaker in speakers %}
<div class="speakerBio">
  <header>
    {% if speaker.photo %}
        <img id="speakerThumbNail" src="{{ asset(['images/photos/', speaker.photo]|join) }}" alt="Author Image"/>
    {% endif %}
    <span id="speakerName">{{ speaker.name }}</span>

  </header>
  <p>{{ speaker.biography}}</p>
</div>
{% endfor %}
