<div class="speakerBio">
  <header>
    <img id="speakerThumbNail" src="{{ asset(['images/photos/', speaker.photo]|join) }}" alt="Author Image"/>
    <span id="speakerName">{{ speaker.name }}</span>

  </header>
  <p>{{ speaker.biography}}</p>
</div>