/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bin/phpunit
/build/*
composer.phar
.vagrant
/vendor/
/web/bundles/

.idea
.buildpath
.project
.settings/
/nbproject
composer.phar
C:\base6-console.log

