{% extends "::base.html.twig" %}

{% block title "Explore" %}

{% block bluestrip %}
    {% include '::bluestripThin.html.twig' %}
{% endblock %}

{% block body %}
<h1>Explore</h1>
<p>Use the search form above to search for content</p>
{% endblock %}

{% block rightcolumn %}
    {% include '::sidebar.html.twig' %}
{% endblock %}