{% extends "::base.html.twig" %}

{% block title "Explore" %}

{% block body %}
<h1 id="resultHeading">SHOWING <span class="numberHiLite">120</span> RESULTS</h1>
<?php for ($i = 1; $i < 7; $i++): ?>
<article class="mediaLarge">
    <div class="mediaThumbNailLarge">
        <img src="images/mediaThumbNail.png" alt="Media ThumbNail Image"/>
    </div>
    <div class="mediaTextLarge">
        <header>
            <h2>Featured Talk #<?php echo $i; ?></h2>
            <p><time datetime="2012-04-10" >Apr 10, 2012 by </time><span class="speaker">Ann Other</span></p>
        </header>
        <p>Topping lemon drops pie I love bear claw tiramisu. Powder chupa chups...</p>
        <footer>
            <span class="metadata">Rating: <?php setRating(); ?></span>
        </footer>
    </div>

</article>
<?php endfor; ?>
<div id="pagerContainer">
    <span class="pagerText">PAGE 2 OF 6</span>
    <ul>
        <li><a class="pagerButton" href="#"><span>1</span></a></li>
        <li><a class="pagerButton" href="#"><span>2</span></a></li>
        <li><a class="pagerButton" href="#"><span>3</span></a></li>
        <li><a class="pagerButton" href="#"><span>4</span></a></li>
        <li><a class="pagerButton" href="#"><span>5</span></a></li>
        <li><a class="pagerButton" href="#"><span>6</span></a></li>
    </ul>
</div>
{% endblock %}

{% block rightcolumn %}
    {% include '::sidebar.html.twig' %}
{% endblock %}