<div class="blueStrip">
    <div id="bluestripContent" class="contentContainer">
        {{ sonata_block_render({ 'type' : 'sonata.user.block.account', 'position' : 'left' }) }}
        <p>We are the online audio & video community resource</p>
        <p id="textLight">for central access to programming knowledge in audio/video format</p>

        <form method='post' action='{{ path('search_results') }}'>
            <input id="searchCriteria" class="search" name="search" type="text" placeholder="What can we find for you?"/>
            <input id="searchButton" class="search" type="image" alt="Search" src="{{ asset('images/searchButton.png') }}" />
        </form>
    </div>
</div>