<div id="blueStripThin" class="blueStrip">
    <div id="bluestripContent" class="contentContainer">
        <form method='post' action='#' id="searchForm">
            <input id="searchCriteria" class="search" name="search" type="text" placeholder="What can we find for you?"/>
            <input id="searchButton" class="search" type="image" alt="Search" src="{{ asset('images/searchButton.png') }}" />
        </form>
    </div>
</div>