<div id="sidebar">
    <section>
        <div id="categories">
            <h1>CATEGORIES</h1>
            {% render "ProtalkMediaBundle:Category:list" %}
        </div>
    </section>
    <section>
        <div id="tags">
            <h1>TAGS</h1>
            {% render "ProtalkMediaBundle:Tag:list" %}
        </div>
    </section>
    <section>
        <div id="speakers">
            <h1>SPEAKERS</h1>
            {% render "ProtalkMediaBundle:Speaker:list" %}
        </div>
    </section>
</div>