<div id="sidebar">
    <section>
        <div id="categories">
            <h1>CATEGORIES</h1>
            {% render controller("ProtalkMediaBundle:Category:list", { }) %}
        </div>
    </section>
    <section>
        <div id="tags">
            <h1>TAGS</h1>
            {% render controller("ProtalkMediaBundle:Tag:list", { }) %}
        </div>
    </section>
</div>