{# This file overrides the corresponding file in the FOSUserBundle package. #}

<div id="userFormContainer">

    <h1>PASSWORD RESET REQUEST</h1>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <div class="userFormError">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
            {% endif %}
            <label class="form_label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="form_field" type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary userButton" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div>
