imports:
    - { resource: parameters.ini }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    charset:         UTF-8
    router:          { resource: "%kernel.root_dir%/config/routing.yml" }
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: %locale%
        auto_start:     true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    filters:
        cssrewrite: ~
        # closure:
        #     jar: %kernel.root_dir%/java/compiler.jar
        # yui_css:
        #     jar: %kernel.root_dir%/java/yuicompressor-2.4.2.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%

jms_security_extra:
    secure_controllers:  true
    secure_all_services: false

# SonataAdminBundle
sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]

        sonata.block.service.text:
        sonata.block.service.action:
        sonata.block.service.rss:

sonata_admin:
    title:      ProTalk
    templates:
        # default global templates
        layout:  SonataAdminBundle::standard_layout.html.twig
        ajax:    SonataAdminBundle::ajax_layout.html.twig

        # default actions templates, should extend a global templates
        list:    SonataAdminBundle:CRUD:list.html.twig
        show:    SonataAdminBundle:CRUD:show.html.twig
        edit:    SonataAdminBundle:CRUD:edit.html.twig
    dashboard:
        blocks:
            # display a dashboard block
            - { position: left, type: sonata.admin.block.admin_list }

        groups:
            protalk_common:
                label: Common
                items: ~
            protalk_media:
                label: Media
                items: ~

services:
   protalk.common.admin.category:
      class: Protalk\AdminBundle\Admin\CategoryAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_common, label: Category }
      arguments: [null, Protalk\MediaBundle\Entity\Category, ProtalkAdminBundle:CategoryAdmin]
   protalk.common.admin.tag:
      class: Protalk\AdminBundle\Admin\TagAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_common, label: Tag }
      arguments: [null, Protalk\MediaBundle\Entity\Tag, ProtalkAdminBundle:TagAdmin]
   protalk.common.admin.mediatype:
      class: Protalk\AdminBundle\Admin\MediatypeAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_common, label: Mediatype }
      arguments: [null, Protalk\MediaBundle\Entity\Mediatype, ProtalkAdminBundle:MediatypeAdmin]
   protalk.media.admin.media:
      class: Protalk\AdminBundle\Admin\MediaAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_media, label: Media }
      arguments: [null, Protalk\MediaBundle\Entity\Media, ProtalkAdminBundle:MediaAdmin]  
   protalk.media.admin.speaker:
      class: Protalk\AdminBundle\Admin\SpeakerAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_media, label: Speaker }
      arguments: [null, Protalk\MediaBundle\Entity\Speaker, ProtalkAdminBundle:SpeakerAdmin]
   protalk.media.admin.comment:
      class: Protalk\AdminBundle\Admin\CommentAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_media, label: Comment }
      arguments: [null, Protalk\MediaBundle\Entity\Comment, ProtalkAdminBundle:CommentAdmin]
   protalk.media.admin.rating:
      class: Protalk\AdminBundle\Admin\RatingAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: protalk_media, label: Rating }
      arguments: [null, Protalk\MediaBundle\Entity\Rating, ProtalkAdminBundle:RatingAdmin]

sonata_doctrine_orm_admin:
    # default value is null, so doctrine uses the value defined in the configuration
    entity_manager: ~

    templates:
        form:
            - SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig
        filter:
            - SonataDoctrineORMAdminBundle:Form:filter_admin_fields.html.twig
        types:
            list:
                array:      SonataAdminBundle:CRUD:list_array.html.twig
                boolean:    SonataAdminBundle:CRUD:list_boolean.html.twig
                date:       SonataAdminBundle:CRUD:list_date.html.twig
                time:       SonataAdminBundle:CRUD:list_time.html.twig
                datetime:   SonataAdminBundle:CRUD:list_datetime.html.twig
                text:       SonataAdminBundle:CRUD:base_list_field.html.twig
                trans:      SonataAdminBundle:CRUD:list_trans.html.twig
                string:     SonataAdminBundle:CRUD:base_list_field.html.twig
                smallint:   SonataAdminBundle:CRUD:base_list_field.html.twig
                bigint:     SonataAdminBundle:CRUD:base_list_field.html.twig
                integer:    SonataAdminBundle:CRUD:base_list_field.html.twig
                decimal:    SonataAdminBundle:CRUD:base_list_field.html.twig
                identifier: SonataAdminBundle:CRUD:base_list_field.html.twig

            show:
                array:      SonataAdminBundle:CRUD:show_array.html.twig
                boolean:    SonataAdminBundle:CRUD:show_boolean.html.twig
                date:       SonataAdminBundle:CRUD:show_date.html.twig
                time:       SonataAdminBundle:CRUD:show_time.html.twig
                datetime:   SonataAdminBundle:CRUD:show_datetime.html.twig
                text:       SonataAdminBundle:CRUD:base_show_field.html.twig
                trans:      SonataAdminBundle:CRUD:show_trans.html.twig
                string:     SonataAdminBundle:CRUD:base_show_field.html.twig
                smallint:   SonataAdminBundle:CRUD:base_show_field.html.twig
                bigint:     SonataAdminBundle:CRUD:base_show_field.html.twig
                integer:    SonataAdminBundle:CRUD:base_show_field.html.twig
                decimal:    SonataAdminBundle:CRUD:base_show_field.html.twig

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Application\Sonata\UserBundle\Entity\User

parameters:
    home_lists_max:  6
    search_results_page: 10

ewz_recaptcha:
    public_key:   6LcAINESAAAAAC1V_QhiarIfD-ikLaLqnmAayo_0
    private_key:  6LcAINESAAAAAEvnZPMdtyBQ9YwPb3HyS5V90ie2
    secure:       false
    locale_key:   session.default_locale
