<div id="contributors">
    <h1>OUR CONTRIBUTORS!</h1>
    <ul>
{% for contributor in contributors %}
  <li><a href="https://github.com/{{ contributor.login }}"><span class="contributor">{{ contributor.login }}</span><img src="{{ contributor.avatar_url }}" /></a></li>
{% endfor %}
    </ul>
</div>