@font-face {
    font-family:"Francois One";
    src:url("../font/FrancoisOne.ttf");
}

html{
    font-size:100%;
    background-color:#fafafa;
}

body {
    font-family: "Francois One", Verdana, sans-serif;
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

#logo {
    height: 100px;
    width: auto;
    margin: 9px 0px;
    float:left;
}

#beta {
    float: left;
    width: 10px;
    font-size: 32px;
    margin-top: 20px;
    color: #454546;
}

.navigation {
    position:relative;
    float:left;
    width:120px;
    height:118px;
    margin:0px 0px 5px 0px;
}

.navigation a {
    width:120px;
    height:118px;
    display:table-cell;
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 7px;
    color:#454546;
    font-size:20px;
    border-left:1px solid #dcdada;
}

#firstNavLink a {
    border-left:none;
}

#firstNavLink {
    margin-left:140px;
}

header {
    white-space: nowrap;
}

.navigation a:hover {
    background-color:#C2E078;
    color:white;
}

.contentContainer {
    width:960px;
    margin:auto;
}

.contentContainer p {
    font-family: Helvetica Neue, Helvetica;
    font-size:16px;
}

.blueStrip {
    background-color:#38526d;
    height:183px;
    text-align:center;
}

#blueStripThin {
    height:103px;
    text-align:left;
}

#headerContainer {
    height:118px;
    overflow:hidden;
}

#bluestripContent p{
    font-size:30px;
    color:white;
    margin:0px;
    padding-top:20px;
}

p#textLight {
    font-family: Helvetica Neue, Helvetica;
    font-size:18px;
    padding-top:0px;
    font-weight:100;
}

.search {
    vertical-align: middle;
    margin-top:20px;
}

#searchForm {
    padding-top:10px;
}

#searchForm p {
    vertical-align: middle;
    display:inline-block;
    font-size:25px;
    color:white;
    padding-left: 26px;
}

#searchCriteria {
    border:none;
    margin-right: -12px;
    height: 41px;
    width:350px;
    font-size:22px;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    text-indent:5px;
}

h1 {
    color:#454546;
    font-size:25px;
    font-family: "Francois One", Verdana, sans-serif;
    font-weight:normal;
    text-transform:uppercase;
}

h2, h2 a, #speakerName {
    font-family: Helvetica Neue, Helvetica;
    font-size:18px;
    color:#446787;
    padding: 0px;
    margin: 0px;
}

.mediaLarge {
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    color:#444444;
    display: inline-block;
    padding-bottom: 23px;
}

.mediaDisplay {
    padding-bottom: 7px;
}

.speaker, .name, #source a, .speakerBio a, #pageContent a, .metadata span, .hilite {
    color:#89B029;
}

time, .metadata, #source {
    color:#999999;
}

#source {
    font-size: small;
}

#leftColumn {
    width: 532px;
    padding-left:24px;
    padding-bottom: 25px;
    float:left;
}

#resultHeading {
    margin-top:56px;
}

.mediaTextLarge {
    width:350px;
    padding-top:4px;
    padding-left: 14px;
    float:left;
}

.mediaTextLarge p {
    margin-top:4px;
    margin-bottom:4px;
}

.mediaThumbNailLarge {
    float:left;
}

.mediaThumbNailLarge img {
    width:150px;
    height:112px;
    border: 8px solid #e4e4e4;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#rightColumn {
    float:left;
    width:379px;
    padding-left: 25px;
    padding-bottom: 25px;
}

#foundCount {
    font-family:"Francois One", Verdana, sans-serif;
    font-size:25px;
}

#tabControl {
    margin-top: 75px;
}

.tabMedia {
    display: inline-block;
    padding-bottom: 15px;
}

.tabMediaText {
    width:208px;
    padding-top: 3px;
    padding-left: 11px;
    float:left;

}

.tabMediaText p {
    margin-top:4px;
    margin-bottom:4px;
    font-family: Helvetica Neue, Helvetica;
    font-size:13px;
    color:#444444;
}

.tabMediaText p img, .mediaTextLarge p img, #mediaPlayerSection p img {
    vertical-align: middle;
    padding-bottom: 3px;
}

.tabMediaThumbNail {
    float:left;
}

.tabMediaThumbNail img {
    width:98px;
    height:67px;
    border: 3px solid #e4e4e4;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.tabMediaText h2 a {
    font-size:16px;
}

#speakerThumbNail {
    vertical-align:middle;
    padding-right: 5px;
}

.speakerBio p {
    clear:both;
    padding-top:7px;
    font-family: Helvetica Neue, Helvetica;
    font-size:13px;
}

.yui3-skin-sam .yui3-panel .yui3-widget-hd
{
    background: #C2E078 none no-repeat  !important;
    font-family: Helvetica Neue, Helvetica;
    font-size:15px;
    color:white;
}

.yui3-skin-sam .yui3-panel .yui3-widget-ft
{
    background: #FAFAFA none no-repeat  !important;
}

.yui3-tabview .yui-tabview .yui3-tabview-list .yui-tab-focus a {
    background: #C2E078 none no-repeat  !important;
}

.yui3-skin-sam .yui3-tabview-panel {
    padding: 25px 22px 23px 22px;
}

.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-list {
    margin-right: 0px;
    border: none;
    background-color:#fafafa;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    color: #454546 !important;
    background: white none no-repeat  !important;
    -x-system-font: none;
    font-family: "Francois One", Verdana, sans-serif;
    font-size: 25px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    background: #C2E078 none no-repeat  !important;
    color:white;
}

.yui3-skin-sam .yui3-tab-label {
    color:#c0c0c0 !important;
    background: #e6e6e6 none no-repeat !important;
    -x-system-font: none;
    font-family: "Francois One", Verdana, sans-serif;
    font-size: 25px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-panel {
    background: #FFFFFF;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.yui3-tabview .yui3-tabview-content .yui3-tabview-panel {
    height:795px;
}

.yui3-tab-loading {
background: url(../images/ajax-loader.gif) no-repeat center center;
height:70px;
}

div#ibuildingsLogo {
    display: block;
    width: 168px;
    height: 41px;
    background: url("../images/ibuildings_logo_sprite.png");
    border:none;
    float:left
}

div#ibuildingsLogo:hover {
    background-position: -168px 0;
}

div#combellLogo {
    display: block;
    width: 159px;
    height: 45px;
    background: url("../images/combell_logo_sprite.png");
    border:none;
    float:left;
}

div#combellLogo:hover {
    background-position: -159px 0;
}

#sponsorLogos {
    width:425px;
    margin:0 auto;
    text-align:center;
}

#sponsorLogoContainer p {
    color:#999;
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    font-weight:100;
    text-align: center;
}

#sponsorLogoContainer {
    height:100px;
    margin-top:30px;

}

#sponsorLogoContainer img {
    height:50px;
    vertical-align:-30%;
}

#logoText
{
    float: left;
    width: 40px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 17px;
    font-family: Helvetica Neue, Helvetica;
}

#footerStrip {
    background: url("../images/footer_bg.gif") repeat-x scroll 0 0 ;
    height: 130px;
    clear:both;
    padding-top: 36px;
    color:#666666;
}

#followUs {
    float:left;
    width: 532px;
    padding-left:24px;
}

#copyright {
    float:left;
    width:379px;
    padding-left: 25px;
}

#copyright p {
    padding-bottom:10px;
}

#followUs p {
    font-size:21px;
    margin-bottom: 12px;
}

nav {
    margin-right: 5px;
}

#copyright {
    text-align:right;
}

#copyright p {
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    font-weight:200;
}

#copyright a {
    color:#C2E078;
    font-family: Helvetica Neue, Helvetica;
    padding-left:27px;
}

#copyright a.normalLink {
    padding-left: 0;
}

#copyright p.noMarginBottom {
    margin-bottom: 0;
}

#subscribeEmail {
    height: 25px;
    width: 200px;
}

#subscribeButton {
    height: 29px;
}

.subscribe {
    vertical-align: middle;
}

#sidebar {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: white;
    border:1px solid #dcdada;
    margin-top: 31px;
    padding: 0px 22px 0px 22px;
}

#categories {
    height: 400px;
    overflow: hidden;
}

#tags {
    height:300px;
    overflow: hidden;
}

#speakers {
    margin-top: 20px;
}

.speaker {
    margin-right: 10px;
    margin-botton:10px;
}

.categoryList {
    margin: 0;
    padding 0;
    border: 0;
}

.categoryList td {
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    width: 170px;
    height:31px;
    border: 0;
    padding: 0;
    border-bottom:1px solid #dcdada;
    vertical-align: text-bottom;
}

.categoryList td a {
    margin: 0px;
    color:#89B029;
    vertical-align: text-bottom;
    line-height:0px;
}

.categoryList td a:hover {
    color: #454546;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../images/button.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    height:  43px;
    width:226px;
    margin-right: 6px;
    padding-right: 8px; /* sliding doors padding */
}

a.button span {
    background: transparent url('../images/button.png') no-repeat;
    display: block;
    line-height: 33px;
    padding: 5px 2px 5px 10px;
    text-align:center;
    color:white;
    font-size: 22px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 2px 4px 10px; /* push text down 1px */
}

#pagerContainer {
    font-size: 18.57px;
    color:#5f5f5f;
}

#pagerContainer ul {
    display:inline-block;
    vertical-align:middle;
    margin-left:23px;
}

#pagerContainer ul li {
    display:block;
    float:left;
    padding: 0px 3px 0px 3px;
}

a.pagerButton {
    background: transparent url('../images/button_pagination.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    height:  33px; /* 43px;  */
    margin-right: 2px;
    padding-right: 8px; /* sliding doors padding */
}

a.pagerButton span {
    background: transparent url('../images/button_pagination.png') no-repeat;
    display: block;
    line-height: 23px;  /* 33px;  */
    padding: 5px 2px 5px 10px;
    color:white;
}

a.pagerButton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.pagerButton:active span {
    background-position: bottom left;
    padding: 6px 2px 4px 10px; /* push text down 1px */
}

a.tagButton {
    background: transparent url('../images/button_small.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    height:  23px; /* 43px;  */
    padding-right: 3px; /* sliding doors padding */
    margin-right: 8px;
    margin-bottom: 10px;
}

a.tagButton span {
    background: transparent url('../images/button_small.png') no-repeat;
    display: block;
    line-height: 13px;  /* 33px;  */
    padding: 5px 2px 5px 6px;
    color:white;
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
}

a.tagButton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.tagButton:active span {
    background-position: bottom left;
    padding: 6px 2px 4px 6px; /* push text down 1px */
}

#title {
    margin-bottom: 0px;
    padding-bottom: 5px;
    width:440px;
}

.wrap {
  white-space:normal;
}

.nowrap {
   white-space:nowrap;
}

.metadata {
    color:#999999;
}



#mediaTextContent {
    font-family: Helvetica Neue, Helvetica;
    clear:both;
}

#description {
    padding-top: 15px;
    font-size:16px;
}

#description .button {
    margin-bottom: 25px;
}

/*  left column on detail page */
#mediaPlayerSection {
    width:448px;
    float:left;
}

#audioPlayer {
    width:532px;
}

/*  right column on detail page */
#mediaSlidesSection {
    float:left;
    width:448px;
    padding-left: 10px;
    padding-top: 65px;
}

#mediaSlidesSectionPodcast {
padding-top:10px;
font-family: Helvetica Neue, Helvetica;
}

#mediaSlidesSectionPodcast a, #mediaSlidesSection a {
color:#89B029;
font-weight: normal;
}

#mediaSlidesSectionPodcast div, #mediaSlidesSection div {
color:#999999;
}


#mediaPlayerSection p {
    width: 425px;
}

#comments p {
    margin-bottom:5px;
}

.commentText {
    font-size:14px;
    padding-bottom: 25px;
}

.commentChild {
    padding-left: 40px;
}

hr {
    border: 0;
    color: #dcdada;
    background-color: #dcdada;
    height: 1px;
    width: 100%;
    text-align: left;
    clear:both;
}


div.social_sharing .linkedinBtn, .fb-like, .twitter, .mail, .pinterest{
    font-size: 1px;
    display: inline-block;
    vertical-align: middle;

}
.fb_reset {
    display: inline;
}


.twitter {
    width:90px;
}

.pinterest {
    width:50px;
}

.mail {
    padding-right: 7px;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], textarea {
    width: 350px;
}

form {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.form_field {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    vertical-align: baseline;
    left: 5px;
    position:relative;
}

.form_label {
    color: #404040;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: right;
    width: 130px;
    border: 0 none;
    font-style: normal;
    margin: 0;
}

#comment_form_content label {
    text-align: left;
}

#comment_content {
    height:150px;
}

form li, .contribution-notice {
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    margin-bottom: 10px;
    padding: 7px 15px;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color:white;
}

.contribution-notice {
    background-color: #C2E078;
    background-image: -moz-linear-gradient(center top , #C2E078, #C2E078);
    text-shadow:none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 15px;
}

form ul {
    list-style-type: none;
    text-align:left;
    width: 93%;
    margin:0;
}

#contribution_category {
    height: 28px;
    width:360px;
}

#contribution_description {
    height: 100px;
}

#contribute_submit_button {
    margin-top:15px;
    margin-left:260px;
}

#recaptcha_area {
    padding-left: 53px;
}

#infoBar {
    text-align: center;
}

#duration {
    color:#999999;
}

.social_sharing {
    float:left;
    padding-bottom: 3px;
}

#rating {
    float: right;
}

#button_add_comment {
    margin-bottom: 10px;
}

#rate_this {
    background-color: white;
    border: 3px solid #C2E078;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 25px;
    width: 120px;
    padding-top: 7px;
    padding-left:30px;
}

.hidden {
    visibility: hidden;
}

#rate_button_container {
    float:right;
}

#button_rate_media {
    margin-left:5px;
}

#leftPaddingTen {
    padding-left:10px;
}