@font-face {
    font-family:"Francois One";
    src:url("../font/FrancoisOne.ttf");
}

html{
    font-size:100%;
    background-color:#fafafa;
}

body {
    font-family: "Francois One", Verdana, sans-serif;
    margin:0;
    padding:0;
}



#logo {
    height: 100px;
    width: auto;
    margin: 9px 0px;
    float:left;
}


.navigation {
    position:relative;
    float:left;
    width:120px;
    height:118px;
    margin:0px 0px 5px 0px;
}

.navigation a {
    width:120px;
    height:118px;
    display:table-cell;
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 7px;
    text-decoration: none;
    color:#454546;
    font-size:20px;
    border-left:1px solid #dcdada;
}


#firstNavLink a {
    border-left:none;
}


#firstNavLink {
    margin-left:154px;
}

header {
    white-space: nowrap;
}

.navigation a:hover {
    background-color:#C2E078;
    color:white;
}


.contentContainer {
    width:960px;
    margin:auto;
}

#blueStrip {
    background-color:#38526d;
    height:183px;


    text-align:center;
}

#headerContainer {
    height:118px;
    overflow:hidden;
}



#bluestripContent p{
    font-size:30px;
    color:white;
    margin:0px;
    padding-top:35px;
}

p#textLight {
    font-family: Helvetica Neue, Helvetica;
    font-size:18px;
    padding-top:0px;
    font-weight:100;
}

.search {
    vertical-align: middle;
    margin-top:20px;
}


#searchCriteria {
    border:none;
    margin-right: -12px;
    height: 41px;
    width:350px;
    font-size:22px;
    -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    text-indent:5px;
}

h1 {

    color:#454546;
    font-size:25px;

}



h2 {
    font-family: Helvetica Neue, Helvetica;
    font-size:18px;
    color:#446787;
    padding: 0px;
    margin: 0px;

}



.latestMedia {

    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    color:#444444;
    display: inline-block;
    padding-bottom: 23px;


}

.speaker {

    color:#C2E078;


}


time, .metadata {

    color:#999999;

}


#latestTalks {

    width: 532px;
    padding-left:24px;
    padding-bottom: 25px;
    float:left;





}

.latestMediaText {
    width:350px;
    padding-top:4px;
    padding-left: 14px;
    float:left;


}

.latestMediaText p {

    margin-top:4px;
    margin-bottom:4px;

}

.latestMediaThumbNail {

    float:left;
    width:168px;
}




#rightColumn {

    float:left;
    margin-top: 75px;
    width:379px;
    padding-left: 25px;


}

.tabMedia {

    font-family: Helvetica Neue, Helvetica;
    font-size:13px;
    color:#444444;
    display: inline-block;
    padding-bottom: 15px;




}

.tabMediaText {
    width:150px;
    padding-top: 3px;
    padding-left: 11px;
    float:left;

}

.tabMediaText p {

    margin-top:4px;
    margin-bottom:4px;

}

.tabMediaThumbNail {

    float:left;
    width:114px;
}

.tabMediaText h2 {

    font-size:16px;


}



.yui3-tabview .yui-tabview .yui3-tabview-list .yui-tab-focus a {
    background: #C2E078 none no-repeat  !important;

}



.yui3-skin-sam .yui3-tabview-panel {
    padding: 25px 22px 23px 22px;
}

.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-list {
    margin-right: 0px;
    border: none;
    background-color:#fafafa;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    color: #454546 !important;
    background: white none no-repeat  !important;
    -x-system-font: none;
    font-family: "Francois One", Verdana, sans-serif;
    font-size: 25px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    background: #C2E078 none no-repeat  !important;

    color:white;

}

.yui3-skin-sam .yui3-tab-label {
    color:#c0c0c0 !important;
    background: #e6e6e6 none no-repeat !important;
    -x-system-font: none;
    font-family: "Francois One", Verdana, sans-serif;
    font-size: 25px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.yui3-widget, .yui3-tabview .yui3-tabview-content .yui3-tabview-panel {
    background: #FFFFFF;
    border-color: #dcdada;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}


.latestMedia:after, .tabMedia:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


div#ibuildingsLogo {
    display: block;
    width: 168px;
    height: 41px;
    text-decoration: none;
    background: url("../images/ibuildings_logo_sprite.png");
    border:none;
    float:left
}

div#ibuildingsLogo:hover {
    background-position: -168px 0;
}


div#combellLogo {
    display: block;
    width: 159px;
    height: 45px;
    text-decoration: none;
    background: url("../images/combell_logo_sprite.png");
    border:none;
    float:left;

}

div#combellLogo:hover {
    background-position: -159px 0;
}

#sponsorLogos {
    width:425px;
    margin:0 auto;
    text-align:center;
}

#sponsorLogoContainer p {
    color:#FFFFFF;
    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    font-weight:100;
}

#sponsorLogoContainer {
    height:200px;
    margin-top:40px;

}

#sponsorLogoContainer p {
    color:#999;
    font-size:14px;
    text-align: center;
}

#sponsorLogoContainer img {


    height:50px;
    vertical-align:-30%;
}

#logoText
{
    float: left;
    width: 40px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 17px;
    font-family: Helvetica Neue, Helvetica;
}

#footerStrip {

    background: url("../images/footer_bg.gif") repeat-x scroll 0 0 ;
    height: 130px;
    clear:both;
    padding-top: 36px;
    color:#666666;
}

#followUs {

    float:left;
    width: 532px;
    padding-left:24px;

}

#copyright {

    float:left;
    width:379px;
    padding-left: 25px;
}


#followUs p {


    font-size:21px;
    margin-bottom: 12px;

}

nav {

    margin-right: 5px;
}

#copyright {

    text-align:right;
}

#copyright p {

    font-family: Helvetica Neue, Helvetica;
    font-size:14px;
    font-weight:200;


}

#copyright a {

    color:#C2E078;
    text-decoration: none;
    font-family: Helvetica Neue, Helvetica;
    padding-left:27px;

}