<table class="categoryList">
    <tr>
    {% for category in categories %}
        <td><a class="category" href="{{ path('category_search', { 'id' : category.id }) }}"><span>{{ category.name }}</span></a></td>
        {% if loop.index is even %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>