
<p>The import command just ran!  \o/   Please log in as admin and process any newly imported items.</p>

<p>One day I hope to be able to tell you how many items were imported and how many were rejected.  Something to look forward to, eh?</p>