<div id="sponsorLogoContainer">
    <p>made possible by</p>
    <div id="sponsorLogos">
        <a href="http://www.combell.com/" title="Hosting and domain by Combell" target="_blank"><div id="combellLogo"></div></a>
    <div id="logoText"><p>&amp;</p></div>
        <a href="http://www.ibuildings.com/" title="Design by Ibuildings" target="_blank"><div id="ibuildingsLogo"></div></a>
    </div>
</div>
